################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/.vs/Project/v17
/Project/.vs/Project/FileContentIndex
/Project/Project/x64/Debug
/Project/thirdParty/
*.vcxproj
/Project/x64/Debug
*.vcxproj.filters
*.vcxproj.user